@model IList<WickedQuiz.Models.Models.Question>
@{
    ViewData["Title"] = "AddQuestionToQuiz";
    var counter = 0;
}

<h1>AddQuestionToQuiz</h1>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="AddQuestionToQuiz" enctype="multipart/form-data">
    @for (var i = 0; i < Model.Count; i++)
    {
        <input asp-for="@Model[i].QuizId" value="@ViewBag.QuizId" style="display:none;" hidden />
        <input asp-for="@Model[i].Id" value="@Model[i].Id" style="display:none;" hidden />
        <div class="form-group">
            <h2>Question</h2>
            <div class="form-group">
                <label asp-for="@Model[i].QuestionName">Question name</label>
                <input asp-for="@Model[i].QuestionName" type="text" class="form-control" placeholder="Enter question name" required>
                <span asp-validation-for="@Model[i].QuestionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model[i].QuestionName" class="control-label"></label>
                <input name="questionimg" type="file" value="@(Model[i].QuestionName + ".jpg")" data-guid="@Model[i].Id" class="form-control questionImage" />
                <input name="listimgindex" id="@Model[i].Id" type="text" style="display:none" value="0" />
                <span asp-validation-for="@Model[i].QuestionName" class="text-danger"></span>
            </div>
            <hr />
            <h3>Answers:</h3>

            @{
                @for (var ianswer = 0; ianswer < @Model[i].Answers.Count; ianswer++)
                {
                    <div>
                        <input asp-for="@Model[i].Answers[ianswer].Id" value="@Guid.NewGuid()" style="display:none;" hidden />
                        <input asp-for="@Model[i].Answers[ianswer].QuestionId" value="@Model[i].Id" style="display:none;" hidden />
                        <input asp-for="@Model[i].Answers[ianswer].AnswerName" type="text" class="form-control" placeholder="Enter answer" required>
                        <span asp-validation-for="@Model[i].Answers[ianswer].AnswerName" class="text-danger"></span>
                        <select asp-for="@Model[i].Answers[ianswer].Correct" asp-items="Html.GetEnumSelectList<Answer.State>()">
                            <option value="" disabled selected hidden>-- Is this answer correct? --</option>
                        </select>
                        <span asp-validation-for="@Model[i].Answers[ianswer].Correct" class="text-danger"></span>
                    </div>
                    if (counter == 1)
                    {
                        <div class="w-100"></div>
                        counter++;
                    }
                    else
                    {
                        counter++;
                    }
                }
                counter = 0;
            }

        </div>
    }
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-action="MyQuizzes">Back to MyQuizzes</a>
</div>
<script>
    
    const imageChosen = function () {
        if (this.files.length == 0) {
            var inputId = document.getElementById(this.getAttribute("data-guid"));
            inputId.value = 0;
        }
        else {
            var inputId = document.getElementById(this.getAttribute("data-guid"));
            inputId.value = 1;
        }
    }

    const init = function () {
        try
        {
            var inputimages = document.querySelectorAll('.questionImage');
            for (let inputimage of inputimages) {
                inputimage.addEventListener('change', imageChosen);
            };
        }
        catch (e)
        {
        }
    }
    document.addEventListener("DOMContentLoaded", init)
</script>