@model IEnumerable<Quiz>
@{
    ViewData["Title"] = "MyQuizzes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial >
<h1>MyQuizzes</h1>
@if (!Model.Any())
{
    <div>
        <p>Er zijn nog geen quizzes aangemaakt.</p>
        <p>De eerste quiz moet nog worden aangemaakt.</p>
        <a href="/Quiz/CreateQuiz">Add new quiz</a>
    </div>
}
else
{
    <div>
        <a href="/Quiz/CreateQuiz">Add new quiz</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Difficulty)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>
                    <td>
                        @Html.ActionLink("Play", "StartQuiz", new { quizid = item.Id }) |
                        @Html.ActionLink("Score tabel", "ScoresQuiz", new { quizid = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}